.map-container {
    width: 100%;
    height: 400px; }
  
.map-container iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }


.travel-details li {
        display: block;
    }

.prize-text {
    margin: auto;
    display: inline-block;
    margin-top: 0.25rem;
  }

.prize-container {
    background-color: #83DEF1;
    padding: 0.75rem;
    text-align: center;
    display: inline-flex;
    width: 90%;
    height: 250px;
    border-radius: 5px;
  }

.grant-table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}
th {
    padding-top: 12px;
  padding-bottom: 12px;
  background-color: #83DEF1;
  color: #012a3b;
}
.table-row-odd {
    background: #f2f2f2; }
  
.table-row-even {
    background: white }

.live-section {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1.5rem;
  }

.social-container {
    text-align: center;
    border-radius: 25px;
    border: 2px solid #ddd;
    padding: 20px; 
    width: 100%;
    height: 150px;  
  }

.social-button {
    background-color: #006A94;
    border-radius:20px;
    border: none;
    display:block;
    color:#ffffff;
    padding: 1rem;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 100%;
    height: 7vw;
  }
  .social-button:hover {
    background-color: #2999bc;
  }

  .social-button:active {
    position:relative;
    top:1px;
  }