@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
}

h1 {
  font-size: 5rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .5rem;
  text-align: center;
  color: #012a3b;
}

h3 {
  margin-top: 0;
  font-size: 3rem;
  color: #034f6d;
}

h4 {
  font-size: 2.5rem;
  color: #034f6d;
}
h5 {
  font-size:1.5rem;
}

p {
  font-size: 1.25rem;
}

button {
  font-size: 1.15rem;
  background-color: #83DEF1;
  padding: 0.75rem;
}

a {
  color: #2999BC;
  text-decoration: none;
}

.heading {
  padding-top: 5%;
}

.section {
    padding: 1.5rem;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-container {
    height: 100%;
    padding: 0;
    margin: 5vw;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 1rem;
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 1rem;
    width: 40vw;
}

.sponsor-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 90vw;
}

@media only screen and (max-width: 600px) {
    .row {
        flex-direction: column;
        margin-bottom: 0;
    }

    .col {
        width: 90vw;
        margin-bottom: 1.5rem;
        margin-left: 0;
    }

    .about-container {
        flex-direction: column;
    }

    h1 {
        font-size: 2.2rem;
        margin-top: 3rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    p {
        font-size: 1rem;
    }

  .waves {
    height:40px;
    min-height:40px;
  }

  }

  .waves-container {
    background-color: rgba(97,203,215, 1);
    margin-top: -7px;
  }

  .waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }

  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }

  .top {
    background-color:rgba(97,203,215, 1);
    margin-right: 0 !important;
  }